
<button (click)="openModals()" type="button" class="btn btn-danger mr-3"><i class="icofont icofont-ui-close"></i>Abrir</button>

<!-- <ng-template #templateModalAlterarRemetenteNf let-modal>
    <div class="modal-header">
        <h4>MODAL 1</h4>   
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
               modal1  
            </div>           
        </div>
        
    </div>
    <div class="modal-footer">
        <div class="col-md-12 text-right">
            <button (click)="fechar()" type="button" class="btn btn-danger mr-3"><i class="icofont icofont-ui-close"></i>Fechar</button>
        </div>   
    </div>
    
</ng-template> -->